

html, body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  height: 100%;
}

a{
  color: #333;
  text-decoration: none;
}


.App{
display: flex;
flex: 1 1 auto;
flex-flow: row nowrap;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.submitBtn{
  flex:1;
  display: inline-block;
  border: none;
  background-color: #555;
  color: #ffffff;
  padding: 7px 20px;
}
/* Company */
.table {
  display: flex;
  justify-content: center;
}


.table table {
  flex-basis: 98%;
  padding: 40px;
  margin: 30px 0;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: 4px 4px 10px #999999;
}
.table th {
  padding-bottom: 15px;
  color: #e6541a;
  font-size: 20px;
}

td {
  position: relative;
  text-align: start;
}

.tbody td {
  position: relative;
  height: 40px;
  text-align: center;
  left: 5px;
  border-bottom: 1px solid #bfbfbf;
}

.buttons{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-weight: 700;
}


.Company{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #aaa;
}


.xBtn{
  margin: 0 15px;
  padding: 2px 8px;
  border: none;
  border-radius: 10%;
  background: #ee6622;
  color: #fff;  
}

.input{
  flex: 10;
  padding: 5px;
}